<% layout('layout') -%>
<div class="row">
    <div class="large-12 columns text-center">
        <h2>UHC</h2>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="large-9 large-centered columns">
        <div class="text-center">

            <p>Login or Register with:</p>

            <a href="/login" class="button radius large"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="button radius large"><span class="fa fa-user"></span> Signup</a>

            <!-- <p>Have requests for other Leauges you would like to see? Let me know: here</p> -->
        </div>
    </div>
</div>
